/* 
** The Header Media Queries **
** Tweak as per your needs **
*/

$small: 800px;

.brand {
  font-weight: bold;
  font-size: 20px;
}

.site-header {
  position: relative;
  background-color: #def7ff;
}

.site-header__start {
  display: flex;
  align-items: center;
}

.site-header__end {
  display: flex;
  align-items: center;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media (min-width: $small) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.nav__wrapper {
  @media (min-width: $small) {
    display: flex;
  }

  @media (max-width: $small - 1) {
    position: absolute;
    top: calc(100% + 35px);
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #d9f0f7;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;

    &.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.nav__item {
  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  a {
    display: block;
    padding: 1rem;
    border-left: 4px solid transparent;

    @media (min-width: $small) {
      text-align: center;
      border-left: 0;
      border-bottom: 4px solid transparent;
    }
  }

  svg {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    margin-right: 1rem;

    @media (min-width: $small) {
      display: block;
      margin: 0 auto 0.5rem;
    }
  }

  &.active {
    a {
      border-left-color: #222;

      @media (min-width: $small) {
        border-bottom-color: #222;
      }
    }
  }
}

.nav__toggle {
  display: none;

  @media (max-width: $small - 1) {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.search {
  display: flex;
  margin-left: 1rem;
}

.search__toggle {
  appearance: none;
  order: 1;
  font-size: 0;
  width: 34px;
  height: 34px;
  background: url("../img/header-3/search.svg") center right/22px no-repeat;
  border: 0;
  display: none;

  @media (min-width: $small) {
    border-left: 1px solid #979797;
    padding-left: 10px;
  }

  @media (max-width: $small - 1) {
    position: absolute;
    right: 5.5rem;
    top: 0.65rem;
    background: url("../img/header-3/search.svg") center/22px no-repeat;
  }
}

.search__form {
  //display: none;
  display: block;

  &.active {
    display: block;
  }

  @media (max-width: $small - 1) {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    //display: none;

    input {
      width: 100%;
    }
  }

  input {
    min-width: 200px;
    appearance: none;
    border: 0;
    background-color: #fff;
    border-radius: 0;
    font-size: 16px;
    padding: 0.5rem;

    @media (max-width: $small - 1) {
      border-bottom: 1px solid #979797;
    }
  }
}

.inactive-item {
  opacity: 0;
}
