$small: 600px;
$medium: 800px;
$large: 1200;

.site-header {
  position: relative;
  background-color: #def7ff;
}

.site-header__end {
  display: flex;
  align-items: center;
}

.brand {
  font-weight: bold;
  font-size: 20px;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media (min-width: $small) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.nav__wrapper {
  @media (min-width: $small) {
    display: flex;
  }

  @media (max-width: $small - 1) {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #d9f0f7;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: 0.3s ease-out;

    &.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.nav__item {
  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  a {
    display: block;
    padding: 1rem;
  }
}

.nav__toggle {
  display: none;

  @media (max-width: $small - 1) {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.search {
  display: flex;
}

.search__toggle {
  appearance: none;
  order: 1;
  font-size: 0;
  width: 32px;
  height: 32px;
  background: url("../img/header-3/search.svg") center right/22px no-repeat;
  border: 0;
  border-left: 1px solid #979797;
  padding-left: 10px;

  @media (max-width: $small - 1) {
    position: absolute;
    right: 6rem;
    top: 1rem;
  }
}

.search__form {
  display: none;

  &.active {
    display: block;
  }

  @media (max-width: $small - 1) {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: red;

    input {
      width: 100%;
    }
  }
  
}
